body {
background-color: black;
height: 100%;
}

iframe{
border:none;

}

.titulka {
width: 100%;

}

.hlnadpis {
color: white;
font-size: 70px;
margin-left: 20px;

}

.drnadpis {
color: #ff0000ff;
margin-left: 20px;
}




.obsah {

width: 100%;
height: 380px;
}


.patka {
width: 100%;
height: 150;

}







.tlacitko{
background-color: black;
color: white;
border-color:#ff0000ff;
border-width: 5px;
margin-top: 20px;

width: 200px;
height: 50px;
}